* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 5px;
    background: #222221;
}

::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 5px;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--title-color);
    overflow-x: hidden;
}