.err-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.err-card {
    padding: 10em;
}
.err-card span{
    display: flex;
    text-align: center;
    color: var(--container-pink);
    font-weight: 600;
    font-size: 1.5em;
}